
<nav class="top-bar" data-topbar>
  <ul class="title-area">
  <!--   <li class="name" id="smalllogotop">
      <#%= link_to " ", static_pages_path, class: "navlink"%>
    </li> -->

    <li id="topleftlogo">
    <%= link_to image_tag('gaHeader.png'), static_pages_path%>
	</li>



     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span> <%= image_tag('hambaga.png', class: "hambaga") %></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <!-- Left Nav Section -->
    <ul class="right">
      
      
      <li><%= link_to "ALUMNI", students_path, class: "navlink" %></li>
      <li><%= link_to "ABOUT WDI", students_path, class: "navlink" %></li>
      <li><a href="#" data-reveal-id="modal" class= "navlink">CREATORS</a></li>

        <div id="modal" class="reveal-modal" data-reveal>
            <h1>Built By:</h1>
              <p><a href="https://www.linkedin.com/in/dinnagonzales">Dinna Gonzales</a> & 
              	<a href="https://www.linkedin.com/in/mattkam">Matt Kam</a></p>
            <h1>Contributors:</h1>
            	<p>
            	<a href="https://www.linkedin.com/pub/paul-kim/94/456/3">Paul Kim</a>, 
            	<a href="https://www.linkedin.com/in/mikewong79">Mike Wong</a>, 
            	<a href="https://www.linkedin.com/in/albertliao">Albert Liao</a>, 
            	<a href="https://www.linkedin.com/in/kriscoulson">Kris Coulson</a>, 
            	<a href="https://www.linkedin.com/pub/shane-fitzgerald/77/688/145/">Shane Fitzgerald</a>, and 
            	<a href="https://www.linkedin.com/pub/christa-hartsock/2a/538/529">Christa Hartsock.</a></p>
            <a class="close-reveal-modal">&#215;</a>
        </div>

       
    </ul>
  </section>
</nav>

<div id="container">
	<div x-ng-app="yearbook_app" class="home" >
		<div x-ng-controller="YearbookCtrl" x-ng-init="repeatVideo()">
			<video ng-src="{{randomVideo}}" id="bgvid" autoplay="true" muted="true"></video>
			<div class="GAlogo">
				<div class="logobox" ng-click="changeVideo()">
					<div class="ch-item ch-img-1">
		        <div class="ch-info-wrap">
	            <div class="ch-info">
                <div class="ch-info-front ch-img-1"></div>
                <div class="ch-info-back"></div>    
	            </div>
		        </div>
				  </div>
				</div>
				<div class="logotext">
					<h1 class= "hometext">WEB DEVELOPMENT IMMERSIVE 5/6</h1>
					<h1 class= "hometext1">SANTA MONICA</h1>
					<h1 class= "hometext2">CALIFORNIA</h1>
					<h1 class= "yeartext">2014</h1>
				</div>
					<a href= "#wdihome"><div id ="arrowscroll"></div></a>
			</div>
		</div>
	</div>
	<div class="wdihome" id="wdihome">
		<a href= "#classphotohome">
			<div id ="arrowscroll2"></div>
		</a>
	</div>
	<div class="classphotohome" id="classphotohome">
		<div id="house">
			<div id="ilm"></div>
			<div id="jojo"></div>
		</div>
	</div>
<!-- 	<div id="footer">
		<p><strong>Created By: </strong>Dinna Gonzales & Matt Kam</p>
		<p><strong>Contributors: </strong>Paul Kim, Shane Fitzgerald, Kris Coulson, Mike Wong, Christa Harstock, and Albert Liao</p>
	</div> -->
</div>