<div x-ng-app="yearbook_app" class="home">
	<div x-ng-controller="YearbookCtrl">
<%#= video_tag "{{videoUrl}}", controls: true, id: "bgvid", autoplay: true, loop: true %>

<video ng-src="{{randomVideo}}" id="bgvid" autoplay="true" loop="true" muted="true"></video>


<div class="GAlogo">

	<div class="logobox" ng-click="changeVideo()">
	  <div class="ch-item ch-img-1">
	        <div class="ch-info-wrap">
	            <div class="ch-info">
	                <div class="ch-info-front ch-img-1"></div>
	                <div class="ch-info-back">
	                </div>    
	            </div>
	        </div>
	    </div>
	</div>

	<div class="logotext">
		<h1 class= "hometext">WEB DEVELOPMENT IMMERSIVE 5/6</h1>
		<h1 class= "hometext1">SANTA MONICA</h1>
		<h1 class= "hometext2">CALIFORNIA</h1>
		<h1 class= "yeartext">2014</h1>
	</div>

</div>
</div>
<a href= "#wdihome"><div id ="arrowscroll"></div></a>
</div>
<div class="wdihome" id="wdihome">
<a href= "#classphotohome"><div id ="arrowscroll"></div></a>

</div>
<div class="classphotohome" id="classphotohome">
</div>