
<%= video_tag "GA_LA.mp4", controls: true, id: "bgvid", autoplay: true, loop: true %>


<div class="GAlogo">

	<div class="logobox">
	  <div class="ch-item ch-img-1">
	        <div class="ch-info-wrap">
	            <div class="ch-info">
	                <div class="ch-info-front ch-img-1"></div>
	                <div class="ch-info-back">
	                </div>    
	            </div>
	        </div>
	    </div>
	</div>

	<div class="logotext">
		<h1 class= "hometext">WEB DEVELOPMENT IMMERSIVE 5/6</h1>
		<h1 class= "hometext1">SANTA MONICA</h1>
		<h1 class= "hometext2">CALIFORNIA</h1>
		<h1 class= "yeartext">2014</h1>
	</div>

</div>
