<div class="alumni_page">
	<div x-ng-app="yearbook_app">
		<div x-ng-controller="YearbookCtrl">
			<div class="student_container">
				<div class="student" ng-model="students" ng-repeat="student in students">
					<img src="{{student.image}}" class="studentpic"> 
					

					{{student.name}}<br />
					

					{{student.location}}<br />
					
					<a href="{{student.github}}"><div class="ghubbutton"> </div></a>
					<a href="{{student.linkedin}}"><div class="linkedinbutton"></div></a><br />
					{{student.pwebsite}}<br>
					{{student.contact}}
				</div>
			</div>
		</div>
	</div>
</div>