/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
body{
	font-family: 'Muli', sans-serif !important;
}
 
a:hover{
	text-decoration:none;
	color: #980000  !important;
}

.navlink{
	text-decoration: none;
	color: black !important;
	display: inline;
	margin-right: 30px;
	font-size: 35px !important;
	font-weight: bold !important;
	font-family: 'BenchNine', sans-serif !important;
}

.navlink:hover{
	background-color: transparent !important;
}

.home {
	width: 100%;
	height: 745px;
}

.GAlogo{
	position: relative;
	top: 90px;
	width: 350px;
	height: auto;
	text-align: center !important;
	margin: 0 auto;

}

.logobox{
	height: 320px;
	text-align: center;
	margin: 0 auto !important;
}

.hometext{
	color: white;
	font-size: 28px;
	letter-spacing:1.5px;
	font-family: 'BenchNine', sans-serif !important;
}

.hometext1{
	color: white;
	font-size: 27px;
	letter-spacing:1.5px;
	margin-top: -15px;
	font-family: 'BenchNine', sans-serif !important;
}

.hometext2{
	margin-top: -5px;
	color: white;
	font-size: 17px;
	letter-spacing:3.5px;
	font-family: 'BenchNine', sans-serif !important;

}

.logotext{
	text-align: center;
	
}

.yeartext{
	margin-top: -10px;
	color: white;
	font-size: 20px;
	letter-spacing:5px;
	font-family: 'BenchNine', sans-serif !important;
}

video#bgvid {
   position: fixed; right: 0; bottom: 0;
   min-width: 100%; 
   min-height: 100%;  
   z-index: -100;
   background: url("") no-repeat;
   background-size: cover;
}

.wdihome{
/*	background-image:url('/assets/ssecondPageHome.png');
	background-size:contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #e8e9e9;*/
	width: 100%;
	height: 805px;
/*	z-index:100;
	text-align:center;*/
}

.classphotohome{
	background-image:url('/assets/groupPhoto.JPG');
	background-size: cover;
	background-position:center center;
	width: 100%;
	height:805px;
	overflow: hidden;
	background-repeat:no-repeat;
}

#house{
	display:inline;
	width:355px;
	float:right;
}

#ilm{
	background-image: url("/assets/Jojo.png");
	background-size:cover;
	width:275px;
	height:90px;
	margin-top:400px;
	margin-left:26px;
	position:absolute;
}

#jojo{
	background-image:url("/assets/Jojo.png");
	background-position:right;
	background-size:cover;
	height:150px;
	width:270px;
	margin-top:495px;
	margin-left:20px;

}

#arrowscroll{
	margin:0 auto;
	width: 50px;
	height: 50px;
	background-image: url('down.png');
	background-size: cover;
}

#arrowscroll2{
	width: 50px;
	height: 50px;
	background-image: url('down.png');
	background-size: cover;
	position:absolute;
	margin-top:500px;
	left:47%;
}

#footer p{
	height:50px;
	width:100%;
	background-color:white;
	margin:0;
}

.top-bar{
	background-color: rgba(255,255,255,0.2) !important;
}

.top-bar ul li{
	background-color: transparent!important;
}

#topleftlogo{
	margin: 10px;
	margin-left:20px;
	width: 110px;
	background-image: url('gaHeader.png');
	background-size: cover;
	background-repeat: no-repeat;
}

#topleftlogo:hover{
	background-image: url('gaHeader2.png');
	background-size: cover;
	background-repeat: no-repeat;
	border-color: rgba(0,0,0,0)!important;
	content: url('gaHeader2.png');
	/*background-image: url('gaHeader2.png');*/
	-webkit-transition-delay: 0.5s ease;
}

.hambaga{
	max-width: 40px ;
}

.hambaga:hover{
	content: url('hambaga2.png');
}

#modal{
	text-align: right;
	width: 500px;
	border-radius: 5px;
	border: 1px solid transparent;
	background-color: rgba(0,0,0,0.5);
	color: rgba(255,255,255,0.9) !important;
	font-size: 40px !important; 
}

#modal a{
	text-decoration: underline;
	color: white !important;
}

#modal h1{
	color: rgba(255,255,255,0.9) !important;
}

.close-reveal-modal{
	text-decoration: none !important;
}

.top-bar-section li:not(.has-form) a:not(.button){
	padding:0 6px !important;
	text-align: center !important;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.home{
		height: 500px;
	}
	video#bgvid {
		display: none;
	}
	div#container {
		overflow: hidden;
	}
	.GAlogo {
		width: 310px;
		top:0;
	}
	.classphotohome {
		height: 570px;
	}
	.logobox {
		margin-top: -60px;
	}
	.hometext {
		color: black;
		font-size: 22px;
		margin-left: -10px;
	}
	.hometext1 {
		color: black;
	}
	.hometext2 {
		margin-top: -10px;
		color: black;
	}
	.yeartext {
		color: black;
	}
	#wdihome{
		height: 575px;
	}
	#laptop{
		display:none;
		height: 0;
	}
	#bodyhome {
		height: 375px !important;
	}
	#headhome {
		height: 200px !important;
		background-color: #231f20;
	}
	#headhome h1 {
		margin-left: -30px !important;
	}
	#headhome p {

		margin-left: -30px !important;
	}
	#arrowscroll2 {
		margin-top: 310px;
		left: 40%;
	}
	#skills {
		height: 334px;
	
		margin-top: 50px !important;
		margin-left: 13px;
		width: 295px !important;
	}
	p#footer{
		font-size: 10px !important;
		line-height: 1.4 !important;
		margin-bottom: 0 !important;
	}
	#ilm {
		margin-top: 270px;
		margin-left: 56px;
	}
	#jojo{
		margin-top: 390px;
		margin-left: 55px;
	}
	.space {
		margin-left: -75px;
		height: 160px;
		width: 660px;
		margin-top: -50px;
}
}


































