/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
body{
	font-family: 'Muli', sans-serif !important;
}
 
a:hover{
	text-decoration:none;
	color: #980000  !important;
}


.navlink{
	text-decoration: none;
	color: black !important;
	display: inline;
	margin-right: 30px;
	font-size: 35px !important;
	font-weight: bold !important;
	font-family: 'BenchNine', sans-serif !important;
}
.navlink:hover{
	background-color: transparent !important;
}

.home {
	width: 100%;
	height: 745px;
}

.GAlogo{
	position: relative;
	top: 90px;
	width: 350px;
	height: auto;
	text-align: center !important;
	margin: 0 auto;

}

.logobox{
	height: 320px;
	text-align: center;
	margin:0 auto;
}

.hometext{
	color: white;
	font-size: 15px;
	letter-spacing:1.5px;
}

.hometext1{
	color: white;
	font-size: 15px;
	letter-spacing:1.5px;
	margin-top: -5px;
}

.hometext2{
	margin-top: -5px;
	color: white;
	font-size: 17px;
	letter-spacing:3.5px
}

.logotext{
	text-align: center;
}

.yeartext{
	margin-top: -10px;
	color: white;
	font-size: 20px;
	letter-spacing:5px
}

video#bgvid {
   position: fixed; right: 0; bottom: 0;
   min-width: 100%; 
   min-height: 100%;  
   z-index: -100;
   background: url("") no-repeat;
   background-size: cover;
}


.wdihome{
	background-image:url('/assets/ssecondPageHome.png');
	background-size:contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #e8e9e9;
	width: 100%;
	height: 805px;
	z-index:100;
	text-align:center;
}

.classphotohome{
	background-image:url('/assets/groupPhoto.JPG');
	background-size: cover;
	background-position:center center;
	width: 100%;
	height:100vh;
	overflow: hidden;
	background-repeat:no-repeat;
}
#house{
	display:inline;
	width:355px;
	float:right;
}
#ilm{
	background-image: url("/assets/Jojo.png");
	background-size:cover;
	width:275px;
	height:90px;
	margin-top:400px;
	margin-left:26px;
	position:absolute;
}
#jojo{
	background-image:url("/assets/Jojo.png");
	background-position:right;
	background-size:cover;
	height:150px;
	width:270px;
	margin-top:495px;
	margin-left:20px;

}

#arrowscroll{
	margin:0 auto;
	width: 50px;
	height: 50px;
	background-image: url('down.png');
	background-size: cover;
}
#arrowscroll2{
	width: 50px;
	height: 50px;
	background-image: url('down.png');
	background-size: cover;
	position:absolute;
	margin-top:730px;
	left:47%;
}
#footer p{
	height:50px;
	width:100%;
	background-color:white;
	margin:0;
}

.top-bar{
	background-color: rgba(255,255,255,0.2) !important;
}
.top-bar ul li{
	background-color: transparent!important;
}



.topleftlogo{
	margin: 10px;
	width: 110px;

}
.topleftlogo:hover{
	content: url('gaHeader2.png');
	/*background-image: url('gaHeader2.png');*/
	-webkit-transition-delay: 0.5s ease;

}

.hambaga{
	max-width: 40px ;
}

.hambaga:hover{
	content: url('hambaga2.png');
}

