/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
 
body{
	margin: 0px;
	font-family: 'Raleway', sans-serif;
}
.navbar {
	padding: 30px;
	width: 100%;
	height: 40px;
	

}
.navlink{
	text-decoration: none;
	color: white;
	display: inline;
	margin-right: 30px;
	font-size: 15px;
}

.home {
	margin: 0;
	width: 100%;
	height: 695px;
}
.ga_logoimage{
	width: 300px;
	height: auto;
	
}

.GAlogo{
	position: relative;
	top: 90px;
	width: 350px;
	height: auto;
	text-align: center !important;
	margin: 0 auto;
}

.logobox{
	height: 320px;
	
	text-align: center;
}

.hometext{
	color: white;
	font-size: 15px;
	letter-spacing:1.5px
}

.hometext1{
	color: white;
	font-size: 15px;
	letter-spacing:1.5px;
	margin-top: -5px;
}

.hometext2{
	margin-top: -5px;
	color: white;
	font-size: 17px;
	letter-spacing:3.5px
}

.logotext{
	text-align: center;
}

.yeartext{
	margin-top: -10px;
	color: white;
	font-size: 20px;
	letter-spacing:5px
}

video#bgvid {
   position: fixed; right: 0; bottom: 0;
   min-width: 100%; min-height: 100%;
   width: auto; height: auto; z-index: -100;
   background: url("") no-repeat;
   background-size: cover;
}

.student div{
	display: inline-block;
	border: 1px solid black;
}

.student{
	border: 1px solid black;
	width: 280px;
	display: inline-block;
	margin: 0 25px;
}
.ghubbutton{
	width: 90px;
	height: 100px;
	background-image: url('github.png');
	background-size: cover;
}

.ghubbutton:hover{
	width: 90px;
	height: 100px;
	background-color: green;
	background-image: url('github.png');
	background-size: cover;	
}

.linkedinbutton{
	width: 100px;
	height: 100px;
	background-image: url('linkedin.png');
	background-size: cover;
}