// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ch-info-wrap{
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    perspective: 800px;
    transition: all .8s ease-in-out;
    top: 20px;
    left:20px;
    background-image: url('logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 
        0 0 0 20px rgba(255,255,255,0.2), 
        inset 0 0 3px rgba(255,255, 255, 0.8);
}

.ch-info{
    position: absolute;
   	width: 280px;
    height: 280px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    transform-style: preserve-3d;
}

.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    backface-visibility: hidden;
}

.ch-info .ch-info-back {
    transform: rotate3d(0,1,0,180deg);  
}
.ch-item{
  margin:0 auto;
}
.ch-item:hover .ch-info-wrap {
	background-image: url('logohov.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 
        0 0 0 0 rgba(255,255,255,0.8), 
        inset 0 0 3px rgba(255,255, 255, 0.8);
	-webkit-transform: rotate(360deg);
}
 
.ch-item:hover .ch-info {
    transform: rotate3d(0,1,0,-180deg);
}
p{
    margin-bottom:0 !important;
}
#headhome{
    width:100%;
    height:225px;
    background-color: #231f20;
}
#homecontain{
    height:200px;
    width:1200px;
    margin-left:100px;

}
#headhome h1{
    color:#e8e9e9;
    font-family: 'BenchNine', sans-serif !important;
    font-size:115px;
    letter-spacing: 1.5px;
    text-decoration:underline;
    margin-top:0px;
    text-align: left;
    margin-right:0;
}
#headhome p{
    color:#e8e9e9;
    font-family: 'BenchNine', sans-serif !important;
    font-size:65px;
    letter-spacing:2px;
    margin-top:-56px;
    text-align:left;
}
#bodyhome{
    width:100%;
    height:605px;
    background-color:#e8e9e9;
}
#skills{
    background-image:url('skills.png');
    background-size:contain;
    background-repeat: no-repeat;
    height:525px;
    width:650px;
    position:absolute;
    margin-top:30px;
    margin-left:100px;
}
#laptop{
    background-image:url('skillsLaptop.png');
    background-size:contain;
    background-repeat:no-repeat;
    height:520px;
    width:660px;
    position:relative;
    margin-top:30px;
    float:right;
    margin-right:70px;
}
@media screen and (max-width:1200px){
#homecontain{
    height:150px;
    width:1070px;
    margin-left:80px;
    padding-top: 38px;
}
#headhome h1{
    font-size:100px;
    letter-spacing: 1px;
    margin-top:-23px;
    margin-left:20px;
}
#headhome p{
    font-size:53px;
    margin-top:-50px;
    margin-left: 20px;
}
#skills{
    height:440px;
    width:500px;
    margin-top:70px;
    margin-left:90px;
}
#laptop{
    height:450px;
    width:521px;
    margin-top:65px;
    margin-right:110px;
}
}
@media screen and (max-width:1280px){
#homecontain{
    width:870px !important;
}
#headhome h1{
    margin-left:-21px !important
}
#headhome p{
    margin-left: -20px !important;
}
#skills{
    width: 470px;
    margin-top: 60px;
}
#laptop{
    width: 485px;
    margin-top: 70px;
}
}

@media screen and (max-width:900px){
#homecontain{
    height:150px;
    width:750px;
    margin-left:90px;
    padding-top: 40px;
}
#headhome h1{
    font-size:70px;
    letter-spacing: 1px;
    margin-top:0px;
}
#headhome p{
    font-size:45px;
    letter-spacing:2px;
    margin-top:-40px;
}
#skills{
    height:500px;
    width:455px;
    margin-top:80px;
    margin-left:15px;
}
#laptop{
    height:400px;
    width:460px;
    margin-top:100px;
    margin-right:27px;
}
}
@media screen and (max-width:860px){
#homecontain{
    width:750px !important;
}
#headhome h1{
    font-size: 75px !important;
    margin-top: -5px !important;
    width: 750px !important;
}
#headhome p{
    margin-top: -43px !important;
    width: 700px !important;
}
#skills{
    width: 420px !important;
margin-top: 80px !important;
}
#laptop{
width: 420px !important;
margin-top: 90px !important;
}
}
@media screen and (max-width: 675px){
    p#footer {
        font-size: 12px;
    }
}
@media screen and (max-width:650px){
#homecontain{
    height:150px;
    width:550px;
    margin-left:50px;
    padding-top: 38px;
}
#headhome h1{
    font-size:55px;
    letter-spacing: 1px;
    margin-top:15px;
    margin-left:-1px;
}
#headhome p{
    font-size:38px;
    margin-top:-34px;
    margin-left: -1px;
}
#skills{
    height:530px;
    width:550px;
    margin-top:20px;
    margin-left:20px;
}
#laptop{
    background-image:none;
}
}
@media screen and (max-width:600px){
    p#footer {
        margin-top:-6px;
    }
}
@media screen and (max-width:400px){
#homecontain{
    height:150px;
    width:275px;
    margin-left:60px;
    padding-top: 38px;
}
#headhome h1{
    font-size:43px;
    letter-spacing: 1px;
    margin-top:-11px;
    margin-left: 0px;
}
#headhome p{
    font-size:19px;
    margin-top:-5px;
    margin-left: 0px;
}
#skills{
    height:334px;
    width:373px;
    margin-top:86px;
    margin-left:13px;
}
#laptop{
    background-image:none;
}
}
@media screen and (max-width:385px){
#homecontain{
    width: 275px;
}
#headhome h1{
    font-size: 45px;
letter-spacing: 1px;
margin-top: -21px;
width: 285px;
margin-left: -5px;
}
#headhome p{
    margin-top: 0px;
    margin-left: -5px;
}
#skills{
    width: 335px;
    margin-top: 10px;
    margin-left: 25px;
}
#laptop{
    background-image:none;
}
.space {
margin-left: -95px;
width: 800px ;
height: 185px ;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
#headhome h1 {
font-size: 90px;
letter-spacing: 1px;
margin-top: -15px;
margin-left: 10px;
width: 870px;
}
#headhome p {
font-size: 53px;
margin-top: -50px;
margin-left: 20px;
width: 800px;
}
#homecontain {
height: 150px;
width: 940px;
margin-left: 80px;
padding-top: 38px;
}
#laptop {
height: 450px;
width: 521px;
margin-top: 65px;
margin-right: 50px;
}
#skills {
height: 440px;
width: 500px;
margin-top: 70px;
margin-left: 40px;
}

}
@media screen and (max-width:360px) and (min-width:320px){
#homecontain{
    width: 275px !important;
}
#headhome h1{
    font-size: 40px !important;
letter-spacing: 1px;
margin-top: -21px !important;
width: 285px !important;
}
#headhome p{
    font-size: 18px;
    margin-top: 0px !important;
}
#skills{
    width: 305px !important;
    margin-top: 10px !important;
    margin-left: 11px;;
}
#laptop{
    background-image:none;
}
.space {
margin-left: -83px !important;
width: 680px !important;
margin-top: -50px!important;
height: 165px !important;
}
}


