// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #f3f3f6;
	font-family: 'BenchNine', sans-serif !important;
}
.alumni_page{
	margin-top: 0px;
	background-color: rgba(243,243,246,0);
	background-position:center center;
	width:100%;
	height:100%;
	background-image:url("/assets/bground.png");
	padding-bottom:100px;
}

.student div{
	display: inline-block;
	padding:5px;
	background-color: rgba(243,243,246,0);

}
.student_container{
	background-color: rgba(243,243,246,0);
	height: 100%;
	background-image:url("bground.png");
}
div#outer.space{
	background-image: url("bground.png");
}

.space{
	background-image: url('GAyearbook.png');
	background-size: cover;
	width: 100%;
	height: 340px;
	margin-top:-105px;
}
#name{
	margin-top:150px;
	padding:0;
	width:220px;
	height:45px;
	font-size:25px;
}
#location{
	margin-top:277px;
	width:70%;
	height:25px;
	font-size:15px;
	position:absolute;
	margin-left:33px;
	padding:0;

}
#buttons{
	height:60px;
	width:90%;
	margin-top: -16px;
	position:absolute;
}
#website{
	width:70%;
	height:30px;
	font-size:23px;
	margin-top:246px;
	position:absolute;
	padding:0;
	margin-left:33px;
	
}
#email{
	width:70%;
	height:30px;
	margin-top:200px;
	font-size:24px;
	padding:0;
}
#ghub{
	position:absolute;
	margin-left:23px;
	margin-top:232px;
}
#lin{
	position:absolute;
	margin-top:234px;
	margin-left:156px;
}
.link a{
	color: white !important;

}
.link a:hover{
	color: #bd0000 !important;
}
.studentpic{
	position:relative;
	
	width: 100%;
	height: 100%;
	overflow:hidden;
	margin:0 auto;
}
.student{
	width: 225px;
	height: 332px;
	display: inline-block; 
	overflow: hidden;
	margin:7px;
	background-color: #f3f3f6;
	border-radius:3px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}

.ghubbutton{
	width: 50px;
	height: 50px;
	background-image: url('github1.png');
	background-size: contain;
	background-repeat:no-repeat;
}

.ghubbutton:hover{
	width: 50px;
	height: 50px;
	
	background-image: url('github2.png');
	background-size: contain;	
}
.linkedinbutton{
	width: 45px;
	height: 45px;
	background-image: url('linkedin1.png');
	background-size: contain;
	background-repeat:no-repeat;
}
.linkedinbutton:hover{
	width: 45px;
	height: 45px;
	background-image: url('linkedin2.png');
	
	background-size: contain;
	}
.da-thumbs {
	list-style: none;
	width: 984px;
	height: 600px;
	position: relative;
	margin:0 auto;
}


.student_container{

	padding: 10px;
	position: relative;
	top: 60px;	
	margin: 0 auto;
	overflow-X:hidden;
	height:100%;
	width: 90%;
	text-align:center;
}
.da-thumbs li {
	width:225px;
	height:340px;
	
	position: relative;

}

.da-thumbs1 {
	position: absolute;
	background: #333;
	background: rgba(75,75,75,0.5);
	width: 100%;
	height: 100%;
}
.da-thumbs2{
	display: block;
	padding: 10px 0;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
#nameonpic{
	background-color:transparent;
	color:#f3f3f6;
	font-size:25px;
	font-family: 'BenchNine', sans-serif !important;
	position: relative;
	top: -42px;
	background-color: rgba(0,0,0,0.5);
	margin-top:-1px;
}

.footer{
	padding: 8px;
	width: 100%;
	height: 60px;
	background-color: black;
	color:white;
	text-align:center;
	font-weight: light;
	letter-spacing:2px;
}
@media screen and (max-width:1400px){
.space{
	height: 315px;
	}
}
@media screen and (max-width:1300px){
.space{
	height: 295px;
	}
}
@media screen and (max-width:1200px){
.space{
	height: 280px;
	}
}
@media screen and (max-width:1150px){
.space{
	height: 265px;
	}
}
@media screen and (max-width:1100px){
.space{
	height: 250px;
	}
}
@media screen and (max-width:1050px){
.space{
	height: 245px;
	}
}
@media screen and (max-width:1000px){
.space{
	height: 230px;
	}
}
@media screen and (max-width:950px){
.space{
	height: 220px;
	}
}
@media screen and (max-width:900px){
.space{
	height: 210px;
	margin-top: -15px;
	}	

}
@media screen and (max-width:850px){
.space{
	height: 200px;
	margin-top: -25px;
	width:860px;
	}
.alumni_page{
	overflow: hidden;
}
}
@media screen and (max-width:600px){
.space{
	height: 190px;
	width:790px;
	}
}
@media screen and (max-width:500px){
.space {
	height: 195px;
	width: 820px;
	margin-top: -66px;
	margin-left: -60px;
	}
}

@media screen and (max-width:450px){
.space {
	margin-left: -75px;
	}
}
@media screen and (max-width:400px){
.space {
	margin-left: -95px;
	}
}



























